USE [master]
GO
/****** Object:  Database [Yikes]    Script Date: 18.12.2024 2:53:27 ******/
CREATE DATABASE [Yikes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Yikes', FILENAME = N'W:\Program file\MSSQL16.MSSQLSERVER\MSSQL\DATA\Yikes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Yikes_log', FILENAME = N'W:\Program file\MSSQL16.MSSQLSERVER\MSSQL\DATA\Yikes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Yikes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Yikes]
GO
/****** Object:  User [egor]    Script Date: 18.12.2024 2:53:27 ******/
CREATE USER [egor] FOR LOGIN [egor] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [egor]
GO
/****** Object:  Table [dbo].[Бренды]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Бренды](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[ПутьФото] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Гендер]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Гендер](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ПользовательID] [int] NOT NULL,
	[ДатаЗаказа] [datetime] NULL,
	[ОбщаяСумма] [decimal](10, 2) NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[КарточкиТовара]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[КарточкиТовара](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[КоллекцияID] [int] NULL,
	[ДатаДобавления] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категория]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категория](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Коллекции]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Коллекции](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Корзина]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Корзина](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ПользовательID] [int] NOT NULL,
	[ТовараID] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[ДатаДобавления] [datetime] NULL,
 CONSTRAINT [PK__Корзина__3214EC274E556736] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Магазины]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Магазины](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Подкатегория]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Подкатегория](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[КатегорияID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Имя] [nvarchar](100) NOT NULL,
	[Фамилия] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Пароль] [nvarchar](255) NOT NULL,
	[РольID] [int] NOT NULL,
	[ДатаРегистрации] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Размер]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Размер](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Международный] [nvarchar](10) NOT NULL,
	[Российский] [int] NOT NULL,
 CONSTRAINT [PK__Размер__3214EC27FD6E1AE6] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Размер__38DA803508CC3DDB] UNIQUE NONCLUSTERED 
(
	[Международный] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роль]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роль](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТоварРазмер]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТоварРазмер](
	[ТоварID] [int] NOT NULL,
	[РазмерID] [int] NOT NULL,
	[КоличествоНаСкладе] [int] NOT NULL,
 CONSTRAINT [PK_ТоварРазмер] PRIMARY KEY CLUSTERED 
(
	[ТоварID] ASC,
	[РазмерID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТоварФото]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТоварФото](
	[ФотоID] [int] NOT NULL,
	[ТоварID] [int] NOT NULL,
 CONSTRAINT [PK_ТоварФото] PRIMARY KEY CLUSTERED 
(
	[ФотоID] ASC,
	[ТоварID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[ТоварID] [int] NOT NULL,
	[Артикул] [nvarchar](50) NOT NULL,
	[КарточкаID] [int] NULL,
	[ЦветID] [int] NOT NULL,
	[Цена] [decimal](10, 2) NOT NULL,
	[ПодкатегорияID] [int] NULL,
	[РазмерID] [int] NULL,
	[БрендID] [int] NOT NULL,
	[ГендерID] [int] NULL,
	[МагазинID] [int] NULL,
	[КоллекцияID] [int] NULL,
 CONSTRAINT [PK__Товары__3214EC271844EF0E] PRIMARY KEY CLUSTERED 
(
	[ТоварID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТоварыХештеги]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТоварыХештеги](
	[ТовараID] [int] NOT NULL,
	[ХештегID] [int] NOT NULL,
 CONSTRAINT [PK__ТоварыХе__31E9B578620CA342] PRIMARY KEY CLUSTERED 
(
	[ТовараID] ASC,
	[ХештегID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ФотоТовара]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ФотоТовара](
	[ID] [int] NOT NULL,
	[ПутьФото] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ФотоТовара] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Хештеги]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Хештеги](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Цвета]    Script Date: 18.12.2024 2:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Цвета](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[КодЦвета] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Заказы] ADD  DEFAULT (getdate()) FOR [ДатаЗаказа]
GO
ALTER TABLE [dbo].[Заказы] ADD  DEFAULT ('В обработке') FOR [Статус]
GO
ALTER TABLE [dbo].[КарточкиТовара] ADD  DEFAULT (getdate()) FOR [ДатаДобавления]
GO
ALTER TABLE [dbo].[Корзина] ADD  CONSTRAINT [DF__Корзина__Количес__06CD04F7]  DEFAULT ((1)) FOR [Количество]
GO
ALTER TABLE [dbo].[Корзина] ADD  CONSTRAINT [DF__Корзина__ДатаДоб__07C12930]  DEFAULT (getdate()) FOR [ДатаДобавления]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT (getdate()) FOR [ДатаРегистрации]
GO
ALTER TABLE [dbo].[ТоварРазмер] ADD  CONSTRAINT [DF_ТоварРазмер_КоличествоНаСкладе]  DEFAULT ((0)) FOR [КоличествоНаСкладе]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD FOREIGN KEY([ПользовательID])
REFERENCES [dbo].[Пользователи] ([ID])
GO
ALTER TABLE [dbo].[Корзина]  WITH CHECK ADD  CONSTRAINT [FK_Корзина_Пользователи] FOREIGN KEY([ПользовательID])
REFERENCES [dbo].[Пользователи] ([ID])
GO
ALTER TABLE [dbo].[Корзина] CHECK CONSTRAINT [FK_Корзина_Пользователи]
GO
ALTER TABLE [dbo].[Корзина]  WITH CHECK ADD  CONSTRAINT [FK_Корзина_Товары] FOREIGN KEY([ТовараID])
REFERENCES [dbo].[Товары] ([ТоварID])
GO
ALTER TABLE [dbo].[Корзина] CHECK CONSTRAINT [FK_Корзина_Товары]
GO
ALTER TABLE [dbo].[Подкатегория]  WITH CHECK ADD FOREIGN KEY([КатегорияID])
REFERENCES [dbo].[Категория] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD FOREIGN KEY([РольID])
REFERENCES [dbo].[Роль] ([ID])
GO
ALTER TABLE [dbo].[ТоварРазмер]  WITH CHECK ADD  CONSTRAINT [FK_ТоварРазмер_Размер] FOREIGN KEY([РазмерID])
REFERENCES [dbo].[Размер] ([ID])
GO
ALTER TABLE [dbo].[ТоварРазмер] CHECK CONSTRAINT [FK_ТоварРазмер_Размер]
GO
ALTER TABLE [dbo].[ТоварРазмер]  WITH CHECK ADD  CONSTRAINT [FK_ТоварРазмер_Товары] FOREIGN KEY([ТоварID])
REFERENCES [dbo].[Товары] ([ТоварID])
GO
ALTER TABLE [dbo].[ТоварРазмер] CHECK CONSTRAINT [FK_ТоварРазмер_Товары]
GO
ALTER TABLE [dbo].[ТоварФото]  WITH CHECK ADD  CONSTRAINT [FK_ТоварФото_Товары] FOREIGN KEY([ТоварID])
REFERENCES [dbo].[Товары] ([ТоварID])
GO
ALTER TABLE [dbo].[ТоварФото] CHECK CONSTRAINT [FK_ТоварФото_Товары]
GO
ALTER TABLE [dbo].[ТоварФото]  WITH CHECK ADD  CONSTRAINT [FK_ТоварФото_ФотоТовара] FOREIGN KEY([ФотоID])
REFERENCES [dbo].[ФотоТовара] ([ID])
GO
ALTER TABLE [dbo].[ТоварФото] CHECK CONSTRAINT [FK_ТоварФото_ФотоТовара]
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD  CONSTRAINT [FK__Товары__БрендID__60A75C0F] FOREIGN KEY([БрендID])
REFERENCES [dbo].[Бренды] ([ID])
GO
ALTER TABLE [dbo].[Товары] CHECK CONSTRAINT [FK__Товары__БрендID__60A75C0F]
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD  CONSTRAINT [FK__Товары__ГендерID__5FB337D6] FOREIGN KEY([ГендерID])
REFERENCES [dbo].[Гендер] ([ID])
GO
ALTER TABLE [dbo].[Товары] CHECK CONSTRAINT [FK__Товары__ГендерID__5FB337D6]
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD  CONSTRAINT [FK__Товары__Карточка__403A8C7D] FOREIGN KEY([КарточкаID])
REFERENCES [dbo].[КарточкиТовара] ([ID])
GO
ALTER TABLE [dbo].[Товары] CHECK CONSTRAINT [FK__Товары__Карточка__403A8C7D]
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD  CONSTRAINT [FK__Товары__МагазинI__619B8048] FOREIGN KEY([МагазинID])
REFERENCES [dbo].[Магазины] ([ID])
GO
ALTER TABLE [dbo].[Товары] CHECK CONSTRAINT [FK__Товары__МагазинI__619B8048]
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD  CONSTRAINT [FK__Товары__Подкатег__52593CB8] FOREIGN KEY([ПодкатегорияID])
REFERENCES [dbo].[Подкатегория] ([ID])
GO
ALTER TABLE [dbo].[Товары] CHECK CONSTRAINT [FK__Товары__Подкатег__52593CB8]
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD  CONSTRAINT [FK__Товары__ЦветID__412EB0B6] FOREIGN KEY([ЦветID])
REFERENCES [dbo].[Цвета] ([ID])
GO
ALTER TABLE [dbo].[Товары] CHECK CONSTRAINT [FK__Товары__ЦветID__412EB0B6]
GO
ALTER TABLE [dbo].[Товары]  WITH CHECK ADD  CONSTRAINT [FK_Товары_Коллекции] FOREIGN KEY([КоллекцияID])
REFERENCES [dbo].[Коллекции] ([ID])
GO
ALTER TABLE [dbo].[Товары] CHECK CONSTRAINT [FK_Товары_Коллекции]
GO
ALTER TABLE [dbo].[ТоварыХештеги]  WITH CHECK ADD  CONSTRAINT [FK__ТоварыХеш__Хеште__70DDC3D8] FOREIGN KEY([ХештегID])
REFERENCES [dbo].[Хештеги] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ТоварыХештеги] CHECK CONSTRAINT [FK__ТоварыХеш__Хеште__70DDC3D8]
GO
ALTER TABLE [dbo].[ТоварыХештеги]  WITH CHECK ADD  CONSTRAINT [FK_ТоварыХештеги_Товары] FOREIGN KEY([ТовараID])
REFERENCES [dbo].[Товары] ([ТоварID])
GO
ALTER TABLE [dbo].[ТоварыХештеги] CHECK CONSTRAINT [FK_ТоварыХештеги_Товары]
GO
USE [master]
GO
